header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  margin: 0;
  color: var(--primary);
  font-size: 2.5em; /* Adjust font size as needed */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px; /* Add gap between nav links */
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  transition: color var(--transition);
}

.nav-link:hover {
  color: var(--button-hover-border);
}

.cart-link {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--primary);
  text-decoration: none;
  margin-right: 50px; /* Add margin to create gap */
}

.cart-link .material-icons {
  font-size: 28px;
  color: var(--primary);
}

.cart-link:hover .material-icons {
  color: var(--button-hover-border);
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 20px; /* Add margin to create gap */
  margin-top: 14px; /* Adjust this value to move the profile photo down */
}