.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
}

.register-form {
    background-color: #dfbe94;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.register-form h3 {
    margin-bottom: 25px;
    font-size: 2em;
    color: #fc653d;
    font-weight: 600;
}

.register-form label {
    display: block;
    margin: 15px 0 5px;
    font-size: 1.1em;
    color: #fc653d;
    text-align: left;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.register-form input:focus {
    border-color: #fc653d;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.register-form button {
    background-color: #fc653d;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px; /* Add margin to separate from the upload photo button */
}

.register-form button:hover {
    background-color: linear-gradient(90deg, #ff7e5f, #feb47b);
    transform: translateY(-2px);
}

.error {
    color: #e63946;
    margin-top: 10px;
    font-size: 0.9em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal-content h4 {
    margin-bottom: 20px;
}

.modal-content button {
    background-color: #fc653d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.modal-content button:hover {
    background-color: linear-gradient(90deg, #ff7e5f, #feb47b);
}