.welcome-container {
    padding: 40px 20px;
    min-height: 100vh;
    text-align: center;
    background-color: var(--background);
  }
  
  .welcome-container h1 {
    font-size: 2.5em;
    color: var(--primary);
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .welcome-container p {
    font-size: 1.2em;
    color: var(--primary);
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid var(--button-border);
    border-radius: var(--border-radius);
    font-size: 1em;
    transition: border-color var(--transition);
    margin-bottom: 10px;
  }
  
  .search-bar input:focus {
    border-color: var(--button-hover-border);
    outline: none;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  .search-bar button {
    background-color: var(--button-bg);
    color: var(--primary);
    border: 1px solid var(--button-border);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1em;
    transition: background-color var(--transition), transform var(--transition);
  }
  
  .search-bar button:hover {
    background-color: var(--button-hover-bg);
    border-color: var(--button-hover-border);
    transform: translateY(-2px);
  }
  
  .recipes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .recipe-item {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .recipe-item img {
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
}
  
  .recipe-item h4 {
    margin-top: 10px;
    font-size: 1.2em;
    color: var(--primary);
  }
  
  @media (max-width: 768px) {
    .recipes-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }